@import "tailwindcss";

*, *:hover, *:focus, *:active, *::before, *::after,
a, a:hover, a:focus, a:active,
button, button:hover, button:focus, button:active {
  cursor: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_90_2330)'%3E%3Cpath d='M2.54341e-05 0.986139L11.8151 12.4709C11.4786 13.3429 11.6617 14.0931 12.2938 14.5384C12.8778 14.9494 13.6793 14.9202 14.2373 14.4039C14.771 13.91 14.9465 13.156 14.5508 12.5234C14.1189 11.8328 13.3262 11.5309 12.376 11.8912L0.472371 1.76398e-07L20.6231 6.80656L23.4368 16.1499L16.0406 23.4656L6.64951 20.6569L2.54341e-05 0.986139Z' fill='%23000B2D'/%3E%3Cpath d='M26.9986 19.6519L24.0472 16.7227L16.6493 24.0702L19.6007 26.9994L26.9986 19.6519Z' fill='%23000B2D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_90_2330'%3E%3Crect width='27' height='27' fill='white' transform='translate(27 1.1802e-06) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 0 0, auto !important;
}
@font-face {
  font-family: 'HWTAetnaStreamer';
  src: url('/assets/fonts/HWT-Aetna-Streamer-Fill.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --navy: #111E33;
  --font-display: 'HWTAetnaStreamer', serif;
  --font-body: 'Averia Libre', serif;
}



body {
  font-family: var(--font-body);
  color: var(--navy);
  background-image: url('/assets/images/bg-texture.png');
  background-repeat: repeat;
  background-size: auto;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: var(--font-display);
  color: var(--navy);
}